:root {
    color-scheme: dark;
}

#content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#temp, #humidity {
    padding-top: 10em;
    padding-bottom: 10em;
    /* #03A9F4 greenyellow */
    border-radius: 1em;
    width: 49.2%;
    box-shadow: 0 9px #4e0000;
}

#temp:hover, #humidity:hover {
    transform: translateY(3px);
    box-shadow: 0 5px #4e0000;
}

#temp {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    background: linear-gradient(135deg,black,darkred, black, darkred, black, darkred, black, darkred);
}

#temp p:last-child {
    font-size: 5em;
}

#humidity p:last-child {
    font-size: 5em;
}

#humidity {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    background: linear-gradient(225deg,black,darkred, black, darkred, black, darkred, black, darkred);
}

html {
    background: #2a2a2a;
}

div#map {
    padding-top: 4em;
    padding-bottom: 4em;
    text-align: center;
}

div#historic {
    padding-bottom: 3em;
    border-radius: 1em;
    background: linear-gradient(225deg,black,darkred, black);
    margin-bottom: 1em;
    box-shadow: 0 9px #4e0000;
}

div#historic:hover {
    transform: translateY(3px);
    box-shadow: 0 5px #4e0000;
}

div#historic h1 {
    padding: 1em;
}

div p {
    text-align: center;
    font-size: 3em;
}

table {
    margin: auto;
    width: 94%;
    border-collapse: collapse;
}

table tr {
    text-align: left;
    background-color: #444444;
}

table tr th {
    border: 1px solid white;
    padding: 8px;
    background-color: darkred;
}

table tr td {
    padding: 8px;
    border: 1px solid #ababab;
}

table tr:nth-child(even) {
    background-color: #444444;
}

table tr:nth-child(odd) {
    background-color: #222222;
}

.edit, .delete {
    text-align: center;
}

/*
Ensemble des balises
 */
* {
    font-family: Comfortaa;
    color: white;
}